<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Resources.ExtentReporterNG"/>
</listeners>
  <test name="Validate User can login to QA Click Academy with multipl Users">
    <classes>
      <class name="AmericanAirlines.AAmerican.qaclickacademy"/>
      
       </classes>
       </test>
      
      <test name="Validte user can search flight from american airline website">
    <classes>
      <class name="AmericanAirlines.AAmerican.HomePage"/>
      
       </classes>
       </test>
        <test name="Validte user can navigate to hotel page and search hotels.">
    <classes>
      <class name="AmericanAirlines.AAmerican.hotelsearch"/>
    </classes>
     </test>
 
</suite> <!-- Suite -->
